<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${place.name}"></title>
    <style>
        body { font-family: Arial; margin:20px; }
        .container { max-width:600px; margin:auto; }
    </style>
</head>
<body>

<div class="container">
    <h1 th:text="${place.name}"></h1>
    <h3 th:text="${place.type}"></h3>
    <p><b>City:</b> <span th:text="${place.city}"></span></p>
    <p th:text="${place.description}"></p>

    <a href="/">Back to Home</a>
</div>

</body>
</html>
